*{
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.idioma a{
	position:absolute; top:8px; right:5px;
	background-color: #002b7e;
	border-radius:10px;
	padding:5px 10px;
	color: #FFF;
	z-index:100000;
}

.cita a{
	position:absolute; top:8px; right:80px;
	background-color: #002b7e;
	border-radius:10px;
	padding:5px 10px;
	color: #FFF;
	z-index:100000;
}

.sobre:hover{
	text-decoration:underline !important;
	}

header{
	display: block;
	width: 100%;
	height: auto;
	padding: 40px 0px 0px 0px;
	background-color: #FFF;
}

	.logo{
		display: block;
		margin: 0px auto 30px auto;
		width: 280px;
		text-align: center;
		height: auto;
	}

	.cont-menu{
		display: none;
		width: 100%;
		height:auto;
		background-image: url(../images/bg-menu.svg);
		background-position: center center;
	}

		.menu{
			width: 930px;
			height: auto;
			margin: auto;
			position: relative;
		}

		.menu ul{
			list-style: none;
			margin: 0px;
			display: inline-block;
		}

		.menu li{
			display: inline-block;
			padding: 5px;
			margin: 5px 0px;
			border-left: solid 1px #FFF;

		}

		.menu a{
			color: #FFF;
			text-decoration: none;
			padding: 0px 10px;
			display: block;
			margin: 0px 5px 0px 0px;
			text-align: center;
		}

		.menu a:hover{
			text-decoration: underline;
		}

		.linea-izq{
			border-right: solid 1px #FFF;
		}



	.redes{
		position: absolute; top:8px; right: 10px;
		height: auto;
	}

	.redes a{
		display: inline-block;
		border:none !important;
		margin: 0px !important;
	}

		.red{
			width: 25px;
			height: 25px;
		}

		.linea-V-menu{
			width: 1px;
			height: 15px;
			vertical-align: middle;
			background-color: #FFF;
			display: inline-block;
		}

/*banner*/

.cont-banner{
	width: 100%;
	height: auto;
	position: relative;
	border-bottom: solid 3px #e50a2d;
	border-top: solid 3px #e50a2d;
	margin:0px 0px 70px 0px;
}

.carousel-indicators{
	display: none;
}

	.form-banner{
		position: relative;
		background-color: rgba(255,255,255,0.6);
		padding: 80px 20px 80px 20px;
		margin:0px 0px 0px 0px;
		width:100%;
		border:solid 1px #ccc;
	}
	
	.form-banner input{
		width:100%;
		font-size: 13px;
		padding:14px;
		margin:3px 0px;
		display:block;
		background-color:#fff;
		border:solid 1px #CCC;
		border-radius:2px;
		text-align:center;	
	}

	.form input{
		width:100%;
		font-size: 13px;
		padding:14px;
		margin:3px 0px;
		display:block;
		background-color:#fff;
		border:solid 1px #CCC;
		border-radius:2px;
		text-align:center;	
	}
	
	.input{
		width:100%;
		height: 145px;
		font-size: 13px;
		padding:14px;
		margin:3px 0px;
		display:block;
		background-color:#FFF;
		border:solid 1px #CCC;
		border-radius:2px;
		text-align:center;	
	}
	
	.formu a{
		display: block;
		font-size: 30px;
		font-weight: bold;
		color: #002b7e;
		text-align: center;
		text-decoration: none;
	}
	
	.btn-form{
		background-color: #e50a2d !important;
		color:#FFF;
		display: block;
		padding: 8px;
		width: 80%;
		margin:20px auto 0px auto !important;
		cursor:pointer;
		border:none !important;
	}
	
	.btn-form:hover{
		background-color:#b2092a !important;
	}
	
		.titulo-form{
			width:100%;
			position:absolute; left:0px; top:-6px;
			padding:15px;
			border-radius: 5px 5px 0px 0px; 
			background-color: #e50a2d;
			text-align:center;
			color: #540010;
			font-size:24px;
			font-weight:bold;
		}
		
		.tel-form{
			width:100%;
			position:absolute; left:0px; bottom:-6px;
			padding:5px 15px 15px 15px;
			border-radius:0px 0px 5px 5px;
			background-color: #002b7e;
			text-align:right;
			color: #FFF;
			font-size:30px;
			font-weight:bold;
			background-image: url(../images/bg-tel-form.svg);
			background-position: left;
			background-repeat:no-repeat;
		}
		
			.tel-form a{
				font-size:20px;
				color:#FFF;
				text-decoration:none;
				padding:0px;
				margin:0px;
			}

	.txt-form{
		color: #e50a2d;
		font-weight: bold;
		margin: 10px 0px;
		display: block;
	}
	
	.banner-2{
		width:85%;
		height:auto;
		padding:0px;
		margin:0px auto 0px auto;
		z-index:10;
	}

.banner{
	height:auto;
}

.texto-banner{
	margin:97px auto -230px auto;
	text-align:center;
	width:80%;
}

	.texto-banner h2{
		color:#FFF;
		font-size:17px;
		background-color:#e50a2d;
		display:inline-block;
		padding: 10px 20px 15px 15px;
		margin:10px 0px 0px 20px;
		position:relative;
		z-index:5;
	}
	
	.texto-banner h1{
		color:#FFF;
		font-size:20px;
		background-color:#002b7e;
		display:inline-block;
		padding: 10px 20px 15px 15px;
		margin:-5px 0px 0px 0px;
		z-index:3;
		position:relative;
	}

	.texto-banner h3{
		color:#FFF;
		background-color:#e50a2d;
		font-size:17px;
		display:inline-block;
		padding: 10px 35px 15px 15px;
		margin:-3px 0px 0px 40px;
		z-index:3;
		position:relative;
	}


/* info  */

.info{
	width:85%;
	height:auto;
	padding:0px;
	margin:80px auto 30px auto;
}

	.info h1{
		color:#002b7e;
		display:block;
		text-align:center;
		margin:30px 0px 15px 0px;
		font-size:30px;
		font-weight:bold;
	}
	
	.info h2{
		color:#e50a2d;
		display:block;
		text-align:center;
		margin:30px 0px 15px 0px;
		font-size:27px;
		font-weight:bold;
	}
	
	.info h3{
		color:#888;
		display:block;
		text-align:center;
		margin:30px 0px 15px 0px;
		font-size:22px;
		font-weight:bold;
	}
	
	.icono{
		width:150px;
		margin:20px auto -10px auto ;
	}
	
	.info ul{
		padding: 0px 0px 0px 35px;
	}
	
	.servicios a{
		display: block;
		padding: 10px 20px 10px 40px;
		color: #FFF;
		background-color: #002b7e;
		font-size: 14px;
		font-weight: bold;
		margin: 3px 0px;
		position: relative;
		border-radius: 3px;
	}

		.servicios a:hover{
			background-color: #001b47;
			text-decoration: none;
		}

	.icono-servicios{
		width: 20px;
		height: 20px;
		margin: -10px 0px 0px 0px;
		position: absolute; top:50%; left:12px;
	}

	.boton{
		width: 80%;
		height: auto;
		margin: 25px auto;
	}

	.boton a{
		display: block;
		background-color: #002b7e;
		text-decoration: none;
		color: #FFF;
		text-align: center; 
		padding: 8px;
		border-radius: 3px;
	}

	.boton a:hover{
		background-color: #001b47;
	}

	.titulo2{
		color:#e50a2d;
		font-size: 17px;
		font-weight: bold;
		margin: 25px 0px 10px 0px;
	}
	

.cont-footer-1{
	width:100%;
	height:auto;
	padding:80px 0px;
	background-image:url(../images/bg-footer-1.jpg);
	background-attachment:fixed;
	background-size:cover;
}

	.footer-1{
		width:85%;
		height:auto;
		margin:auto;
		text-align:center;
	}
	
		.footer-1 a{
			display: inline-block;
			font-size:17px;
			color: #FFF;
			font-weight: bold;
			margin:0px 0px 20px 0px;
		}
	
		.titulo-footer-1{
			display:block;
			text-align:center;
			font-size:35px;
			color:#FFF;
			font-weight:bold;
			margin:0px 0px 30px 0px;
		}
		
		.icono-footer-1{
			width:35px;
			margin:0px auto -5px auto;
			display:block;
		}

		.antes{
			display: block;
			color: #FFF;
			text-align: center;
			padding: 6px;
			background-color: #002b7e;
			margin: -50px 0px 15px 0px;
			position: relative;
			z-index: 10;
		}

		.despues{
			display: block;
			color: #FFF;
			text-align: center;
			padding: 6px;
			background-color: #e50a2d;
			margin: -50px 0px 15px 0px;
			position: relative;
			z-index: 10;
		}



.footer-2{
	width:85%;
	height:auto;
	padding:70px 0px;
	margin:auto;
}

	.footer-2 ul{
		list-style-image:url(../images/li.svg);
		padding:0px 15px;
		margin:auto;
	}
	
	.footer-2 li{
		font-weight:bold;
		font-size:15px;
		color:#888;
		text-align:justify;
		padding:0px;
	}

	.icono-footer-2{
		width:150px;
		height:150px;
		margin: 0px auto ;
	}
	
	.titulo-footer-2{
		display:block;
		text-align:center;
		line-height:25px;
		font-size:25px;
		color:#888;
		font-weight:bold;
		margin:10px 0px 20px 0px;
	}
	

.cont-footer-3{
	width:100%;
	height:auto;
	padding:50px 0px;
	background-color:#002b7e;
	color: #FFF;
	text-align:center;
}

	.footer-3{
		width:85%;
		height:auto;
		padding:0px;
		margin:auto;
	}
	
		.footer-3 a{
			color: #fff;
			display:block;
			margin:4px 0px 4px 10px;
		}
	
		.titulo-footer-3{
			display:block;
			text-align:center;
			font-size:35px;
			color:#FFF;
			font-weight:bold;
			margin:0px 0px 15px 0px;
		}
		
		.icono-footer-3{
			width:15px;
			margin:0px 10px 0px 0px;
			display:inline-block;
		}
		
		.logo-footer{
			width:200px;
			height:auto;
			margin: 40px auto 0px auto;
		}
	
	


/*  otros   */

p{
	text-align:justify;
}

.relativo{
	position:relative;
}

/*    menu movil     */
#btn-menu{
	display:none;
}

.menu-movil{
		padding:0px;
		margin:0px;
		background-image:url(../images/bg-menu-movil.svg);
		background-size: cover;
		background-position: center left;
		color:#FFF;
		padding:0px;
		margin:0px;
		display:block;
		position:relative;
		z-index:1000;
}
	
	.mm{
		display:block;
		width:100%;
		height:50px;
		padding:0px;
		margin:0px;
	}
	
	
	

.menu-M{
	position:absolute;
	width:100%;
	display:none;
}

.menu-M ul{
	margin:0px;
	list-style:none !important;
	padding:0px 0px;
	display:flex;
	justify-content:center;
	flex-direction: column;
	background-color: #001a44;
	
}

.menu-M ul>li>ul{
	
	list-style:none;
}

.menu-M li{
	flex-grow: 1;
	border-top:1px solid #fff;
}
	
	.menu-M li a{
		display:block;
		padding:15px 0px;
		color:#FFF;
		text-align:center;
		text-decoration:none;
		font-weight:bold;
	}
	
	
	
#btn-menu:checked ~ .menu-M{
		display:block;
	}


.pide-cita{
	width:85%;
	height:auto;
	margin:-25px auto 30px auto;
	padding:25px 0px 0px 0px;
}

.pc{
	display:none;
}

.sombra{
	box-shadow: 3px 3px 2px #CCC;
	margin:0px 0px 20px 0px !important;
}

.mensaje-form{
	width: 250px;
	margin: 25px 0px;
	padding: 30px;
	margin: auto;
	background-color:#e50a2d;
	color: #FFF; 
}

.msn-form{
	font-weight: normal;
	font-size: 14px;
	display: block;
	text-align: center;
}
